@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #282c34;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lobster', cursive;
    min-height: 100vh;
    text-align: center;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer-container {
    margin: 20px;
}

.clock-container {
    text-align: center;
    border-radius: 10px;
    padding: 10px 60px;
    display: inline-block;
    margin-top: 40px;
    /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3), inset 0 5px 5px rgba(0, 0, 0, 0.3); */
}

button {
    background: #282c34;
    padding: 10px 15px;
    cursor: pointer;
    margin: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 20px;
    border: 0px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3), inset 0 5px 5px rgba(0, 0, 0, 0.3);
}

.actions-wrapper span {
    margin: 0 10px;
    font-size: 20px;
}

.clock-container h1 {
    margin: 0;
}

.clock-container span {
    font-size: 60px;
}

@media only screen and (max-width: 700px) {
    .flex {
        width: 100%;
    }
    .clock-container {
        width: 90%;
    }
    .actions-wrapper {
        width: 100%;
    }
    .timer-container {
        width: 100%;
    }
    button {
        width: 80%;
    }
}
