@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #282c34;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lobster", cursive;
  min-height: 100vh;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-container {
  margin: 20px;
}

.actions-wrapper {
  
}

.actions-wrapper button {
  background-color: transparent;
  padding: 5px;
  margin: 10px;
  color: #fff;
  font-size: 20px;
}

.actions-wrapper span {
  margin: 40px;
}
