@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #282c34;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lobster", cursive;
  min-height: 100vh;
  text-align: center;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-container {
  margin: 20px;
}

.clock-container {
  text-align: center;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 10px 60px;
  display: inline-block;
  margin-top: 40px;
}

button {
  background-color: transparent;
  padding: 10px 15px;
  cursor: pointer;
  margin: 10px;
  color: #fff;
  font-size: 20px;
}

.actions-wrapper span {
  margin: 0 10px;
  font-size: 20px
}

.clock-container h1{
  margin: 0;
}

.clock-container span{
  font-size: 60px;
}
